.avatar-profile {
    margin: 10px 0;
    width: 200px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}
.disabled {
    display: none;
}

.form-button {
    margin-top: 10px;
}

.form-create {
    margin-bottom: 35px;
}

.messages-index {
    height: 600px;
    overflow: scroll;
    border: 1px solid #c7c7c7;
}

.messages-index .message {
    width: 50%;
    background: #e5e5e6;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 10px;
}

.messages-index ._me {
    display: flex;
    justify-content: flex-end;
}
.messages-index ._me .message {
    width: 50%;
    background: #b6b6ff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 10px;
}

.messages-index .message {
    width: 50%;
    background: #e5e5e6;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 10px;
}

.messages-index .file {
    margin-bottom: 10px;
}

.attached-files {
    width: 200px;
    border: 1px solid;
    text-align: center;
    padding: 10px;
    margin-right: 5px;
}


.error {
    color: red;
}